_target_: lightning.pytorch.trainer.Trainer

default_root_dir: ${paths.output_dir}

min_epochs: 50 # prevents early stopping
max_epochs: 200

# let Lightning pick the right accelerator/devices unless overridden
accelerator: auto
devices: auto

# mixed precision for extra speed-up
# precision: 16

# gradient clipping to stabilize TB under rare large residuals
gradient_clip_val: 1.0

# perform a validation loop every N training epochs
check_val_every_n_epoch: 10

# set True to to ensure deterministic results
# makes training slower but gives more reproducibility than just setting seeds
deterministic: False
