# disable python warnings if they annoy you
ignore_warnings: False

# ask user for tags if none are provided in the config
enforce_tags: True

# pretty print config tree at the start of the run using Rich library
print_config: True

# leverage Tensor Cores for FP32 matmul (TF32). Set to null to disable.
torch_float32_matmul_precision: high
