defaults:
  - _self_

_target_: src.models.gflownet_module.GFlowNetModule
_recursive_: true

hidden_dim: 1024
emb_dim: 1024
backbone_finetune: true
inverse_relation_suffix: "__inv"
state_cfg:
  dropout: 0.0
cvt_init_cfg:
  enabled: true

env:
  _target_: src.models.components.gflownet_env.GraphEnv
  max_steps: ???

reward_fn:
  _target_: src.models.components.gflownet_reward.GraphFusionReward
  hard_target_bonus: 10.0
  min_log_reward: -10.0

actor_cfg:
  policy_temperature: 1.0
  stop_bias_init: null
  h_transform_bias: 0.5
  h_transform_clip: 10.0

runtime_cfg:
  validate_edge_batch: false
  cache_action_keys: true

optimizer_cfg:
  type: adamw
  lr: 1.0e-4
  weight_decay: 1.0e-4
  param_groups: null

scheduler_cfg:
  type: ""

training_cfg:
  num_miner_rollouts: 8
  num_forward_rollouts: 8
  accumulate_grad_batches: 1
  tb:
    log_prob_min: -20.0
    delta_max: 20.0

evaluation_cfg:
  num_eval_rollouts: 10
  rollout_temperature: 1.0

flow_cfg:
  graph_stats_log1p: true
