# configs/dataset/webqsp-sub.yaml

defaults:
  - base
  - _self_

name: webqsp-sub
dataset_scope: sub
dataset_family: webqsp
max_steps: 3
hf_dataset: rmanluo/RoG-webqsp

sample_filter_path: ${dataset.out_dir}/sub_filter.json
