# configs/dataset/webqsp.yaml

name: webqsp
kb: freebase
dataset_scope: full
dataset_family: webqsp
max_steps: 3
hf_dataset: rmanluo/RoG-webqsp

out_dir: ${paths.data_dir}/webqsp/normalized
materialized_dir: ${paths.data_dir}/webqsp/materialized
artifact_dir: ${paths.data_dir}/${dataset.dataset_family}/artifacts/${dataset.name}
distances_dir: ${dataset.materialized_dir}/distances

paths:
  vocabulary: ${dataset.materialized_dir}/vocabulary/vocabulary.lmdb
  embeddings: ${dataset.materialized_dir}/embeddings
  processed: ${dataset.materialized_dir}/processed

validate_on_get: false
cache_node_min_dists: true
cache_max_entries: 5000
preload_node_min_dists: true
sample_ids_source: lmdb
lmdb_readahead: true
sequential_sample_ids: true
distance_cache_format: pt
filter_missing_answer:
  train: true
  validation: true
  test: true

entity_normalization: none
entity_text_mode: regex
text_prefixes: []
text_regex: "^(?!m\\.|g\\.).*"

column_map:
  question_id_field: id
  question_field: question
  answer_text_field: answer
  q_entity_field: q_entity
  a_entity_field: a_entity
  graph_field: graph
