# configs/eval.yaml

defaults:
  - _self_
  - dataset: null
  - data: null
  - model: null
  - callbacks: default
  - logger: null
  - trainer: gpu
  - paths: default
  - extras: default
  - hydra: default
  - experiment: null 

task_name: "eval_retriever"